﻿@model IEnumerable<Capstone.Data.Models.ToDoList>

<h3 class="mb-4">Planner</h3>

<a href="@Url.Action("Today", "Planner")">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Today</h5>
            <p class="card-text">@Model.SelectMany(x => x.Items).Where(x => x.DueDate.Date == DateTime.Now.Date).Count()</p>
        </div>
    </div>
</a>

<a href="@Url.Action("Planned", "Planner")">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Planned</h5>
            <p class="card-text">@Model.SelectMany(x => x.Items).Where(x => x.DueDate.Date >= DateTime.Now.Date && x.DueDate.Date <= DateTime.Now.Date.AddDays(7)).Count()</p>
        </div>
    </div>
</a>

