﻿
@model IEnumerable<Capstone.Data.Models.ToDoList>

<h3 class="mb-4">Tasks for Today</h3>

@if (!Model.Any())
{
    <p>No tasks for today.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var toDoList in Model)
            {
                foreach (var item in toDoList.Items)
                {
                    if (item.DueDate.Date == DateTime.Now.Date)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.Description</td>
                            <td>@item.DueDate.ToShortDateString()</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
}