﻿@model Capstone.Data.Models.ToDoItem

@{
    ViewData["Title"] = "Comments";
}

<div class="container mt-5">
    <h3 class="mb-4">@Model.Title</h3>

    <label class="d-block">Description:</label>
    <p style="background-color: #f5f5f5; padding: 10px; color: #333;">@Model.Description</p>

    <label class="d-block">Due Date:</label>
    <p style="background-color: #f5f5f5; padding: 10px; color: #333;">@Model.DueDate.ToShortDateString()</p>

    <h4 class="mb-3">Comments</h4>

    @foreach (var comment in Model.Comments)
    {
        <div class="card mb-3 clickable">
            <div class="card-body">
                <p>@comment.Text</p>
                <small>@comment.CreationDate.ToShortDateString()</small>
                <form asp-action="DeleteComment" method="post" class="d-inline-block ml-3">
                    <input type="hidden" name="commentId" value="@comment.Id" />
                    <button type="submit" class="btn btn-link p-0 add-icon" title="Delete">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </div>
        </div>
    }

    <h5 class="mb-3">Add Comment</h5>
    <form asp-action="AddComment" asp-controller="ToDo" method="post">
        <input type="hidden" name="toDoItemId" value="@Model.Id" />
        <div class="form-group">
            <textarea name="commentText" required class="form-control"></textarea>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Add Comment</button>
    </form>

    <div class="mt-4">
        <a asp-action="View" asp-route-id="@Model.ToDoListId" class="back-icon add-icon">
            <i class="fas fa-arrow-left"></i>&nbsp;Back
        </a>
    </div>
</div>
