﻿@model Capstone.Data.Models.ToDoList
@{
    ViewData["Title"] = "Create New To-Do List";
}

<h3 class="mb-4">@ViewData["Title"]</h3>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Name">List Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mt-4">
        <button type="submit" class="btn-icon mr-3" title="Save">
            <i class="fas fa-save"></i>
            Create New To-Do List
        </button>
    </div>
</form>

<a href="@Url.Action("Index", "ToDo")" class="back-icon add-icon" title="Back to Lists">
    <i class="fas fa-arrow-left"></i>
    Back
</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
