﻿@model Capstone.Data.Models.ToDoItem
@{
    ViewData["Title"] = "Create To-Do Item";
}

<div class="container mt-5">
    <h3 class="mb-4">@ViewData["Title"]</h3>

    <form asp-action="CreateItem">
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DueDate">Due Date</label>
            <input asp-for="DueDate" type="date" class="form-control" />
            <span asp-validation-for="DueDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ToDoListId">To-Do List</label>
            <select asp-for="ToDoListId" class="form-control" asp-items="ViewBag.ToDoListId"></select>
            <span asp-validation-for="ToDoListId" class="text-danger"></span>
        </div>
        <div class="mt-4">
            <button type="submit" class="btn-icon mr-3" title="Save">
                <i class="fas fa-save"></i>
                Create To-Do Item
            </button>
            <a href="@Url.Action("View", "ToDo", new { id = ViewBag.CurrentListId })" class="back-icon add-icon" title="Back without saving">
                <i class="fas fa-arrow-left"></i>
                Back
            </a>
        </div>
    </form>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
