﻿@model Capstone.Data.Models.ToDoItem
@{
    ViewData["Title"] = "Delete To-Do Item";
}

<h3 class="mb-4">@ViewData["Title"]</h3>

<p>Are you sure you want to delete this item?</p>
<h4>@Model.Title</h4>

<form asp-action="DeleteItem">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="View" asp-route-id="@Model.ToDoListId" class="btn btn-secondary">Cancel</a>
</form>
