﻿@model Capstone.Data.Models.ToDoList
@{
    ViewData["Title"] = "Delete To-Do List";
}

<h3 class="mb-4">@ViewData["Title"]</h3>

<p>Are you sure you want to delete the list "@Model.Name" and all its items?</p>

<form asp-action="DeleteList">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="View" asp-route-id="@Model.Id" class="btn btn-secondary">Cancel</a>
</form>
