﻿@model Capstone.Data.Models.ToDoList
@{
    ViewData["Title"] = "Edit To-Do List";
}

<h3 class="mb-4">@ViewData["Title"]</h3>

<form asp-action="EditList">
    <input type="hidden" asp-for="Id" /> <!-- To keep track of which list we're editing -->

    <div class="form-group">
        <label asp-for="Name">List Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mt-4">
        <button type="submit" class="btn-icon mr-3" title="Save Changes">
            <i class="fas fa-save fa-2x"></i>
        </button>
        <a href="@Url.Action("View", "ToDo", new { id = Model.Id })" class="back-icon add-icon" title="Back without saving">
            <i class="fas fa-arrow-left fa-2x"></i>
        </a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
