﻿@model Capstone.Data.Models.ToDoItem

<h3 class="mb-4">Edit ToDo Item</h3>


<form asp-action="EditItem" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="DueDate"></label>
        <input asp-for="DueDate" class="form-control" type="date" />
    </div>

    <div class="form-group">
        <label asp-for="CreationDate"></label>
        <input asp-for="CreationDate" class="form-control" type="date" />
    </div>

    <div class="form-group">
        <label asp-for="Status"></label>
        <select asp-for="Status" class="form-control">
            @foreach (Status status in Enum.GetValues(typeof(Status)))
            {
                <option value="@status">@Extensions.GetDisplayName(status)</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="ToDoListId">ToDo List</label>
        <select asp-for="ToDoListId" asp-items="ViewBag.ToDoListId" class="form-control"></select>
    </div>

    <br />

    <button type="submit" class="btn btn-secondary">Save</button>

    <div class="mt-4">
        <a href="@Url.Action("Index", "ToDo")" class="back-icon add-icon" title="Back to Lists">
            <i class="fas fa-arrow-left"></i>&nbsp;Back
        </a>
    </div>

</form>

