﻿@model IEnumerable<Capstone.Data.Models.ToDoList>

@{
    ViewData["Title"] = "ToDo Lists";
}

<h3 class="mb-4">@ViewData["Title"]</h3>

<div class="container mt-5">
    <p>
        <a href="@Url.Action("Create", "ToDo")" class="add-icon mr-3" title="Create New List">
            <i class="fas fa-plus-circle"></i>
            Create New List
        </a>        
    </p>    

    @foreach (var toDoList in Model)
    {
        <a href="@Url.Action("View", "ToDo", new { id = toDoList.Id })" class="text-decoration-none">
            <div class="card mb-3 clickable">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-list-ul"></i> @toDoList.Name
                    </h5>
                    <p class="card-text">@toDoList.Items.Count() tasks</p>
                </div>
            </div>
        </a>
    }

</div>