﻿<div id="privacy-policy-page">
<h1>Privacy Policy for ToDo app</h1>
<h2>Introduction</h2>
<p>Thank you for choosing to be part of our community at Darya Trafimenka (“Company”, “we”, “us”, “our”). We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about this privacy notice or our practices regarding your personal information, please contact us at makynja1991@gmail.com.</p>

<p>This privacy notice describes how we might use your information if you:</p>
<ul>
    <li>Visit our website</li>
    <li>Use our mobile application</li>
    <li>Engage with us in other related ways, including any sales or marketing activities</li>
</ul>

<h2>Information We Collect</h2>
<p>The personal information you provide can give away a lot of information about you. The public availability of your information is your choice. The information you provide us during account creation and setup is secured and is not used by us or sold to any third parties. We collect information solely for the purpose of the app's functionality and improvement.</p>

<h2>How We Use Your Information</h2>
<p>We use the information we collect or receive:</p>
<ul>
    <li>To send you marketing and promotional communications.</li>
    <li>To deliver targeted advertising to you.</li>
    <li>To request feedback and contact you about your use of our app.</li>
</ul>

<h2>How We Keep Your Information Safe</h2>
<p>We aim to protect your personal information through a system of organizational and technical security measures.</p>

<h2>Links to Other Websites</h2>
<p>Our app may contain links to other websites that are not operated by us. This Privacy Policy does not apply to third-party websites/services.</p>

<h2>Updates to This Privacy Policy</h2>
<p>We may update this privacy policy from time to time. The updated version will be indicated by an updated "Last updated" date.</p>

<h2>Contact Us</h2>
<p>If you have questions or comments about this policy, you may contact us at makynja1991@gmail.com.</p>
</div>
