﻿@model Capstone.Data.Models.ToDoList

@{
    ViewData["Title"] = Model.Name;
}

<div class="container mt-5">
    <h3 class="mb-4">@ViewData["Title"]</h3>

    <!-- Action Links below the title -->
    <div class="d-flex justify-content-between align-items-center mb-3">
        <a href="@Url.Action("CreateItem", "ToDo", new { currentListId = Model.Id })" class="mr-3 add-icon" title="Add Item">
            <i class="fas fa-plus-circle"></i> Add Item
        </a>
        <a href="@Url.Action("EditList", "ToDo", new { id = Model.Id })" class="add-icon" title="Edit">
            <i class="fas fa-edit"></i> Edit
        </a>
        <form asp-action="DuplicateList" asp-route-id="@Model.Id" method="post" class="d-inline-block">
            <button type="submit" class="btn btn-link p-0 ml-2 add-icon" title="Duplicate">
                <i class="fas fa-copy"></i> Duplicate
            </button>
        </form>
        <a href="@Url.Action("DeleteList", "ToDo", new { id = Model.Id })" class="add-icon" title="Delete">
            <i class="fas fa-trash-alt"></i> Delete
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Status</th>
                <th>Title</th>                
                <th>Due Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in Model.Items)
            {
                <tr>
                    <td><i class="@task.Status.GetFontAwesomeIcon()"></i></td>
                    <td><a href="@Url.Action("Comments", "ToDo", new { id = task.Id })">@task.Title</a></td> <!--new code @* <td>@task.Title</td> *@-->
                    <td>@task.DueDate.ToShortDateString()</td>
                    <td>
                        <a asp-action="EditItem" asp-route-id="@task.Id" title="Edit">
                            <button title="Edit">
                                <i class="fas fa-edit"></i>
                            </button>
                        </a>
                        <a asp-action="DeleteItem" asp-route-id="@task.Id" title="Delete">
                            <button title="Delete">
                                <i class="fas fa-trash-alt"></i>
                            </button>                     
                        </a>
                        &nbsp;
                        <form asp-action="CompleteItem" asp-route-id="@task.Id" method="post" class="d-inline-block">
                            @if (task.Status != Capstone.Data.Enums.Status.Completed)
                            {
                                <button type="submit" title="Complete">
                                    <i class="fas fa-check"></i>
                                </button>
                            }
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="mt-4">
        <a href="@Url.Action("Index", "ToDo")" class="back-icon add-icon" title="Back to Lists">
            <i class="fas fa-arrow-left"></i>&nbsp;Back
        </a>
    </div>
</div>
