﻿html {
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* This ensures the body takes the full height of the viewport */
    background-image: url('background .png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

a {
    text-decoration: none;
}

.btn-link {
    text-decoration: none;
    color: #333; /* White text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better readability on the background */
}

    .btn-link:hover, .btn-link:focus {
        text-decoration: none;
        color: #333; /* White text color */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better readability on the background */
    }

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

h3.mb-4 {
    color: #7a1818;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better readability on the background */
}

a.add-icon {
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for better readability on the background */
}

.container.mt-4 {
    flex: 1; /* This allows the main content to expand and take up all available space */
}

.text-danger {
    font-size: 1.1em; /* Increase font size slightly */
    font-weight: bold; /* Bold text */
    color: #FF0000; /* Bright red color */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Text shadow */
}

label {
    font-size: 1.2em; /* Increase font size */
    font-weight: bold; /* Bold text */
    margin-bottom: 0.5em; /* Add margin at the bottom */
    color: #333; /* Optional: Change text color */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Text shadow */
}

.completed-task {
    text-decoration: line-through;
    color: #aaa; 
}

.card-body {
    color: #000; 
    background-color: #FFF; 
}

.table thead th {
    background-color: #f5f5f5;
    color: #333;
    border-color: #ddd; 
}

.table tbody tr {
    background-color: #fff;
    color: #333; 
}

#privacy-policy-page {
    background-color: #f5f5f5;
    max-height: 80vh;
    overflow-y: auto;
}

.active-link {
    background-color: #f8f9fa; /* Light gray for demonstration. You can adjust this */
    color: #000; /* Black text color. Adjust as needed */
}
